body {
  overflow-x: hidden;
  background-color: rgb(253, 253, 253);
}
/* Estilos para el Hero */

.hero {
  background-image: url(/src/img/hero3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 30%;
  height: 20rem;
  margin: 0 0 2rem 0;
  padding: 0;
}


/* Estilos para la tarjeta */

.container-tarjeta {
    display: grid;
    gap: 2rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    overflow: hidden;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-imagen {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-imagen {
    width: auto;
    height: 90%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.container-imagen:hover .tarjeta-imagen {
  transform: scale(1.1);
}

.tarjeta-contenido {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.tarjeta-titulo {
    margin: 0;
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
    max-height: 3em;
}

.tarjeta-titulo-link {
    text-decoration: none;
    color: black;
}

.tarjeta-descripcion {
    margin: 0;
    margin-bottom: 10px;
}

.tarjeta-precio {
    margin: 0;
    font-weight: bold;
}

.boton-agregar {
    background-color: #3a643b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
}

.boton-agregar:hover {
    background-color: #2b492d;
}
.boton-quitar {
    background-color: #8f4747;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
}

.boton-quitar:hover {
    background-color: #7c4141;
}

/* Estilos para el carrito */
.carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
